<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Item</title>
</head>
<body>
<h1>Edit Item</h1>
<!--/*@thymesVar id="item" type="com.barcode.barcode.model.Item"*/-->
<div th:object="${item}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"/><br><br>
    <label th:field="*{barcodes}">Barcodes:</label><br>
    <ul id="barcodeList">
        <li th:each="barcode, stat : ${item.barcodes}" th:id="'barcode-' + ${stat.index}">
            <span th:text="${stat.index + 1}"></span>
            <p th:text="${barcode}"></p>
            <button type="button" id="remove-button">Remove</button>
        </li>
    </ul>

    <h2>Add New Barcodes</h2>
    <label for="newBarcode"></label><input type="text" id="newBarcode" placeholder="Enter new barcode..."/>
    <button type="button" id="add-new-button">Add Barcode</button>
    <br><br>
    <button type="button" id="submitButton">Save</button>
</div>
<script src="/js/edit.scripts.js"></script>
<script src="/js/Utils.js"></script>
</body>
</html>