<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Item</title>
    <script type="text/javascript" th:src="@{/js/Utils.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/item/edit.css}" rel="stylesheet" />
</head>
<body>

<!-- Page Header -->
<h1 class="custom-heading">Edit Item</h1>

<!-- Form Container -->
<div th:object="${item}" class="form-container">
    <!-- Hidden ID Field -->
    <input type="hidden" th:field="*{id}" />

    <!-- Name Field -->
    <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-input" />
    </div>

    <!-- Barcodes Field -->
    <div class="form-group">
        <label for="barcodeList" class="form-label">Barcodes:</label>
        <ul id="barcodeList" class="barcode-list">
            <li th:each="barcode, stat : ${item.barcodes}" th:id="'barcode-' + ${stat.index}" class="barcode-item">
                <span th:text="${stat.index + 1}" class="barcode-index"></span>
                <p class="barcode-text" th:text="${barcode}"></p>
                <button type="button" th:onclick="'removeBarcode(' + ${stat.index} + ')'" class="remove-button">Remove</button>
            </li>
        </ul>
    </div>

    <!-- Add New Barcode Section -->
    <h2 class="subheading">Add New Barcodes</h2>
    <div class="form-group">
        <label for="newBarcode" class="form-label">New Barcode:</label>
        <div class="input-group">
            <input type="text" id="newBarcode" placeholder="Enter new barcode..." class="form-input" />
            <button type="button" onclick="addNewBarcode()" class="add-button">Add Barcode</button>
        </div>
    </div>

    <!-- Save Button -->
    <div class="save-button-container">
        <button type="button" id="submit-button" class="save-button">Save</button>
    </div>
</div>

<script src="/js/edit.scripts.js"></script>

</body>
</html>
