<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item List</title>
    <script th:src="@{/js/list.scripts.js}" type="text/javascript"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/item/list.css}" rel="stylesheet" />
</head>
<body class="custom-body">
<!-- Heading Section -->
<h1 class="custom-heading">Item List</h1>

<div class="table-container">
    <table class="custom-table">
        <thead>
        <tr class="table-header">
            <th class="table-cell">Name</th>
            <th class="table-cell">Barcodes</th>
            <th class="table-cell">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td class="table-cell" th:text="${item.name}"></td>
            <td class="table-cell">
                <div class="barcode-container">
                    <span class="barcode-chip" th:each="barcode : ${item.barcodes}" th:text="${barcode}"></span>
                </div>
            </td>
            <td class="table-cell">
                <a class="edit-link" th:href="@{/{itemId}/edit(itemId=${item.id})}">Edit</a>
                <button class="delete-button" th:onclick="deleteItem([[${item.id}]])">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Create New Item Link -->
<div class="create-item-container">
    <a class="create-item-link" href="/create">Create New Item</a>
</div>

</body>
</html>
