<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Item List</title>
    <script type="text/javascript" th:src="@{/js/list.scripts.js}"></script>
</head>
<body>
<h1>Item List</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Barcodes</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="item" type="com.barcode.barcode.model.Item"*/-->
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td>
            <ul>
                <li th:each="barcode : ${item.barcodes}" th:text="${barcode}"></li>
            </ul>
        </td>
        <td>
            <a th:href="@{/admin/items/{itemId}/edit(itemId=${item.id})}">Edit</a>
            <button th:onclick="deleteItem([[${item.id}]])">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<a href="/create">Create New Item</a>
</body>
</html>